 <!DOCTYPE html>
<html>
  <head>
    <!-- <img src="/templates/pnc.png" class="img-thumbnail" alt="logo"> -->
    <title>Prime Nursing Care</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="http://primenursingcare.com/design/css_import.css"  media="all" />
    <link rel="stylesheet" type="text/css" href="http://primenursingcare.com/javascript/jquery/fancybox/jquery.fancybox-2.1.4.css"  media="screen"/>
   <!--  <link type="text/css" href="http://primenursingcare.com/javascript/jquery/ui/css/jquery-ui-1.10.2.custom.css" rel="stylesheet" /> -->
    
   <!--  <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet"> -->
   <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src='fullcalendar-2.6.1/lib/jquery.min.js'></script>
<script src='fullcalendar-2.6.1/lib/moment.min.js'></script>
<script src='fullcalendar-2.6.1/fullcalendar.js'></script>
<style>
.navbar-brando{float:left;height:60px;line-height:60px;margin: 5px 10px 5px 0}
.navbar-brand{margin: 10px 0 0 0;font-size:22px}
.navbar-nav>li>a {
    padding-top: 25px;
    padding-bottom: 15px;
    font-size:16px
}
</style>
  </head>
  <body>
      <body style="background-color:lightgrey;">
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    
    <div class="navbar-header">
    <img src="http://primenursingcare.com/img/grundgeruest/header/kugel.png" class="navbar-brando" alt="logo" height="60" width="60">
      <a class="navbar-brand" href="http://primenursingcare.com/">Prime Nursing Care</a>
    </div>

    <ul class="nav navbar-nav">

      <li class="active"><a href="/welcome">Home</a></li>
      <li><a href="/sample">Calendar</a></li>
      <li><a href="/">Announcements</a></li>

      

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>
    <div class="container">

      <!-- messages -->
      {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}

      <!-- child template -->
      {% block content %}{% endblock %}

      <!-- errors -->
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}

      
    </div>

    <div id='calendar'></div>


  </body>
</html>