{% extends "base.html" %}
{% block content %}
<style>
.postbox {
    list-style: none;
    background: white;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    margin: 0 0 40px 0;
    padding-bottom: 1px;
}

.postTitle {
    font-size: 4rem;
     margin: 0 0 0 0;
}

.preface {
    margin: -1rem 0 0 0;
    color: #ccc;
    font-size: 1.75rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.postContents {
margin: 0 0 1rem 0;
font-size: 1.75rem;
}

form textarea#description {
     width: 500px;
     height: 100px;
     max-height: 300px;
}
</style>

<center>
<!-- post form -->
<h3>Add a Post!</h3>
<br>
<form class="form-message" role="form" method="post" action="/">
  {{ form.csrf_token }}
  <p>
    {{ form.title(placeholder="title") }}

    <span class="error">
      {% if form.title.errors %}
        {% for error in form.title.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>

  <p>
  {{ form.description(placeholder="description") }}
    <span class="error">
      {% if form.description.errors %}
        {% for error in form.description.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>

  <button class="btn btn-sm btn-success" type="submit">Post</button> 
</form>
</center>
<br>
{% for post in posts %}
  <div class="postbox">
    <div class="postTitle">{{ post.title }}</div>
    <br>

    <div class="preface">By {{post.author}} <br>
          Posted on {{post.date}}
    </div>
    <br>

    <div class="postContents">{{ post.description }}</div>
    <br> 
    
    <form action="/deletepost" method="POST">
    <button class="btn btn-xs btn-danger" type="submit" name="deleteEntry" value= {{post.id}}>Delete Entry</button>
    </form> <br>

  </div>
  <br>
{% endfor %}

{% endblock %}