

<h1>Create an account</h1>
<br>
<form action="" method="post">
	<label>First Name:</label>
	<input type="text" placeholder="First Name" name="first_name" value=""> <br>
	<label>Last Name:</label>
	<input type="text" placeholder="Last Name" name="last_name" value=""> <br>
	<label>Username:</label>
  <input type="text" placeholder="username" name="username" value=""> <br>
  <label>Password:</label>
  <input type="password" placeholder="Password" name="password" value=""> <br>

  <input class="btn btn-default" type="submit" value="Create Account">
</form>



