<!DOCTYPE html>
<html lang="en">
    <head>
        <body style="background-color:lightgrey;">
        <title>PNC Scheduler</title>
       
       <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Prime Nursing Care</a>
    </div>
    
    <ul class="nav navbar-nav">
      <li class="active"><a href="/welcome">Home</a></li>
      <li><a href="/sample">Calendar</a></li>
      <li><a href="/">Announcements</a></li> 
      <img src="http://primenursingcare.com/img/grundgeruest/header/kugel.png" class="img-rounded" alt="logo">
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
        <meta name="csrf-token" content="ZnZMwftboDLjMHpWzOyXafDDgomWaZ6neUHBuaTN">
        <!-- css -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.5.0/fullcalendar.min.css">
        <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="bootstrap-datetimepicker.min.css">
        <!-- js -->
        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.0.0/js/bootstrap-datetimepicker.min.js"></script>
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/lang/en-gb.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.5.0/fullcalendar.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.5.4/ckeditor.js"></script>
        <script>
//////////////////////////FUNCTIONS FOR MODAL WINDOW//////////////////////////////////////
            var DISPLAY_DATE_FORMAT = 'YYYY-MM-DD HH:mm';
            var JSON_DATE_FORMAT = 'YYYY-MM-DD HH:mm';
            var tempEventObj;

/////FUNCTION TO SET DATE USING DATEPICKER/////
            function setModalDate(startDate, endDate) {
                var displayStartDate, displayEndDate, jsonStartDate, jsonEndDate;
                displayStartDate = moment(startDate).format(DISPLAY_DATE_FORMAT)
                jsonStartDate = moment(startDate).format(JSON_DATE_FORMAT);

                if(endDate != null) {
                    displayEndDate = moment(endDate).format(DISPLAY_DATE_FORMAT);
                    jsonEndDate = moment(endDate).format(JSON_DATE_FORMAT);
                }
                else {
                    displayEndDate = displayStartDate;
                    jsonEndDate = jsonStartDate;
                }
                $('#display-start').val(displayStartDate);
                $('#display-end').val(displayEndDate);
                $('#start').val(jsonStartDate);
                $('#end').val(jsonEndDate);
                $('#datetimepicker1').data('DateTimePicker').setDate(jsonStartDate);
                $('#datetimepicker2').data('DateTimePicker').setDate(jsonEndDate);
            }
///CLEAR THE MODAL IN BETWEEN USES////
            function clearModal() {
                $('#id, #title, #details, #display-start, #display-end, #start, #end').val('');
                $('#error').css({'display': 'none'})
            }
///CHECK TO SEE IF INPUT IS VALID///
            function validateInput() {
                var flag = true;
                flag = $('#title').val() != ''&& ((moment($('#start').val()).isBefore($('#end').val())
                        || moment($('#start').val()).isSame($('#end').val())));
                return flag;
            }
///////////////////////////////////CALENDAR FUNCTIONS///////////////////////////////////
            $(document).ready(function() {
                $.ajaxSetup({
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    }
                });

                $('#calendar').fullCalendar({
                    displayEventTime: true,
                    displayEventEnd: true,
                    allDay: false,
                   //editable: true,
//////////GRAB EVENTS FROM EVENT ROUTE///////////
                    events: {
                    url: '/eventdata',
                    error: function() {
                        $('#script-warning').show();
                        }
                    },
                    
////////EVENT HANDLERS FOR DAYS/EVENTS//////////
                    dayClick: function(date, jsEvent, view) {
                        clearModal();
                        setModalDate(date);
                        $('#modalTitle').text('Add New Event');
                        $('#btnDel').css({display: 'none'});
                        $('#modalCalendar').modal('show');
                    },
                    eventClick: function(calEvent, jsEvent, view) {
                        tempEventObj = calEvent;
                        setModalDate(calEvent.start, calEvent.end);
                        $('#modalTitle').text('Edit Event');
                        $('#id').val(calEvent.id);
                        $('#title').val(calEvent.title);
                        $('#details').val(calEvent.details);
                        $('#btnDel').css({display: 'inline'});
                        $('#modalCalendar').modal('show');
                    },
                    eventMouseover: function() {
                        $(this).css({'cursor': 'pointer'});
                    },

                    header: {
                        right: 'today prev,next',
                    }
                });

                $('#display-start, #display-end').change(function() {
                    var date = moment(this.value).format(JSON_DATE_FORMAT);
                    if(this.id == 'display-start') {
                        $('#start').val(json.stringify(date));
                    }
                    else {
                        $('#end').val(json.stringify(date));
                    }
                });

                $(window).load(function(){
                    $(function () { $('#datetimepicker1').datetimepicker({

                        language: 'en',
                        //todayHighlight:'TRUE',
                        format: 'YYYY-MM-DD HH:mm'
                    });});
                    $(function () { $('#datetimepicker2').datetimepicker({
                        language: 'en',
                        //todayHighlight:'TRUE',
                        format: 'YYYY-MM-DD HH:mm'
                    });});
                });//]]> 


////////////////SAVE TO DB///////////////////
                $('#btnSave').click(function() {
                    $('#error').css({'display': 'none'})
                    if(!validateInput()) {

                        $('#error').css({'display': 'block'})
                        return;
                    }
                    var data = $('#eventForm').serialize(); //grab data from the eventform and format it under 'data'
                    $.ajax({      
                        url: '/savedata',
                        method: 'POST',
                        dataType: 'json',
                        data: data,
                        //headers: {'Content-Type': 'application/json'}, 
                        success: function(result) {
                            $('#calendar').fullCalendar('refetchEvents');
                            $('#modalCalendar').modal('hide');
                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            $('#error').css({'display': 'block'})
                        }
                    });
                });
////////////////DELETE FROM DB///////////////
                $('#btnDel').click(function() {
                    var data = {id: $('#id').val()};        //save the id of the event in question under 'data'
                    $.ajax({  
                        url: '/deletedata',
                        method: 'POST',
                        dataType: 'json',
                        data: data,                         //event id is sent to deletedata so it knows what to delete
                        success: function(result) {
                            $('#calendar').fullCalendar('refetchEvents');
                            $('#modalCalendar').modal('hide');
                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                        }
                    });
                });
            });
/////////END OF CALENDAR FUNCTIONS//////////
        </script>
    </head>
    <body>
        <div class="container">        
            <div id="calendar"></div>
        </div>
        <div class="modal fade" id="modalCalendar" tabindex="-1" role="dialog" aria-labelledby="modalTitle">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modalTitle">Title</h4>
                    </div>
                    <div class="modal-body" id="modalBody">
                        <form id="eventForm">
                            <input type="hidden" name="id" id="id">
                            <div class="control-group has-error" id="error" style="display: none">
                                <label class="control-label">Please fill in the form properly!</label>
                            </div>
                            <div class="form-group">
                                <label>Name</label>                    
                                <input type="text" name="title" id="title" class="form-control" placeholder="Title">
                            </div>
                            <div class="form-group">
                            <label>Start Date</label>  
                              <div class='input-group date' id='datetimepicker1'>
                                <span class="input-group-addon">
                                  <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                                <input type='text' name="display-start" id="display-start"class="form-control" placeholder="Start Date" />
                                <input type="hidden" name="start" id="start">
                              </div>
                            </div>
                            <div class="form-group">
                            <label>End Date</label>  
                              <div class='input-group date' id='datetimepicker2'>
                                <span class="input-group-addon">
                                  <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                                <input type='text' name="display-end" id="display-end"class="form-control" placeholder="end Date" />
                                <input type="hidden" name="end" id="end">
                              </div>
                            </div>
                            <div class="form-group">
                                <label>Details</label>                    
                                <textarea name="details" id="details" class="form-control" placeholder="Details" rows="6"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" id="btnSave">Save</button>
                        <button type="button" class="btn btn-danger" id="btnDel">Delete</button>
                        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>        
    </body>